@tailwind base;
@tailwind components;
@tailwind utilities;


/* custom utilities */
@layer utilities {
  .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;    
    .scrollbar-hidden::-webkit-scrollbar {
      @apply hidden;
    }
  }

  .text-color {
     @apply text-black text-opacity-70 dark:text-white dark:text-opacity-70;
  }
}


/* component classes */
@layer components {
  /***  Typography  ***/
  .body-1 {
    @apply text-xs font-light leading-4 tracking-[.01rem];
  }

  .body-2 {
    @apply text-sm font-normal leading-4 tracking-[.01rem];
  }

  .body-3 {
    @apply text-sm font-light leading-5 tracking-[.01rem];
  }

  .body-4 {
    @apply text-xs font-light leading-4 tracking-[.01rem];
  }

  .body-5 {
    @apply text-[1rem]  leading-4 tracking-[.01rem];
  }

  .body-6 {
    @apply text-[1.5rem] leading-4 tracking-[.01rem];
  }

  .heading-1 {
    @apply text-xl leading-4 tracking-[.01rem];
  }

  .heading-2 {
    @apply text-sm font-semibold leading-4 tracking-[.01rem];
  }

  .heading-3 {
    @apply text-xs font-semibold leading-4 tracking-[.01rem];
  }

  .heading-4 {
    @apply text-3xl leading-9 tracking-[.01rem];
  }

  .display-1 {
    @apply outline-none text-3xl leading-9 tracking-[.01rem];
  }

  .contained-text {
    @apply text-sm font-semibold leading-4 tracking-[.01rem] text-white;
  }

  .outlined-text {
    @apply text-sm font-semibold leading-4 tracking-[.01rem] text-black text-opacity-70 dark:text-white hover:text-white focus:text-white;
  }

  .ghost-text {
    @apply text-sm font-light leading-4 tracking-[.01rem] text-black text-opacity-70 dark:text-white dark:hover:text-white;
  }


  /***  Button  ***/
  .btn {
    @apply flex justify-center items-center py-4 px-5 rounded-sm outline-none focus:outline-none
    transition-all duration-200 ease-out;
  }

  .contained-primary {  
    @apply bg-indigo-300 dark:bg-indigo-400  focus:ring focus:ring-indigo-100 active:ring active:ring-indigo-200;
  }

  .contained-success {
   @apply bg-green-500 dark:bg-green-500 focus:ring focus:ring-green-100 active:ring active:ring-green-200; 
  }

  .contained-danger {
    @apply bg-red-300 dark:bg-red-400 focus:ring focus:ring-red-100 active:ring active:ring-red-200;
  }

  .outlined-primary {
   @apply bg-opacity-0 hover:bg-indigo-300 focus:bg-indigo-300 dark:hover:bg-indigo-400 dark:focus:bg-indigo-400
   border border-gray-100  dark:border-gray-600 hover:border-indigo-300 dark:hover:border-indigo-400 focus:border-indigo-300 dark:focus:border-indigo-400;
  }

  .outlined-success {
    @apply bg-opacity-0 hover:bg-green-300 dark:hover:bg-green-400 focus:bg-green-300 dark:focus:bg-green-400
    border border-gray-100 dark:border-gray-600 hover:border-green-300 dark:hover:border-green-400 focus:border-green-300 dark:focus:border-green-400;
  }

  .outlined-danger {
    @apply bg-opacity-0 hover:bg-red-200 dark:hover:bg-red-400 focus:bg-red-200 dark:focus:bg-red-400
    border border-gray-200 dark:border-gray-600 hover:border-red-200 dark:hover:border-red-400 focus:border-red-200 dark:focus:border-red-400;
  }

  .ghost-primary {
    @apply hover:bg-indigo-50 hover:text-indigo-400 dark:hover:bg-gray-600 active:bg-indigo-100;
  }

  .ghost-success {
    @apply hover:bg-green-50 hover:text-green-400 dark:hover:bg-gray-600 active:bg-green-100;
  }

  .ghost-danger {
    @apply hover:bg-red-50 dark:hover:bg-red-500 active:bg-red-100 dark:active:bg-red-400;
  }

  /***  IconButton  ***/
  .ic-btn {
    @apply flex justify-center items-center
     rounded-full text-gray-400 dark:text-white outline-none focus:outline-none transition-all;
  }
  
  .ic-btn-contained-primary {
    @apply bg-indigo-300 hover:bg-indigo-400 focus:bg-indigo-400 dark:focus:bg-indigo-300 dark:bg-indigo-400 dark:hover:bg-indigo-400 text-white duration-200;
  }

  .ic-btn-contained-success {
    @apply bg-green-400 hover:bg-green-500 active:bg-green-600 text-white duration-500;
  }

  .ic-btn-contained-danger {
    @apply bg-red-400 hover:bg-red-500 active:bg-red-600 text-white duration-500;
  }

  .ic-btn-contained-glass {
    @apply bg-gray-100 bg-opacity-[0.2] hover:bg-opacity-[0.3] active:bg-opacity-[0.6] text-white opacity-80 hover:opacity-100 duration-200;
  }

  .ic-btn-contained-gray {
    @apply bg-gray-100 dark:bg-gray-600 hover:bg-gray-200 dark:hover:bg-gray-600 focus:bg-gray-200 dark:focus:bg-gray-600 active:bg-gray-200 dark:active:bg-gray-500 
    text-gray-500 hover:text-gray-600 dark:hover:text-white focus:text-gray-600 dark:focus:text-white duration-200;
  }

  .ic-btn-outlined-danger {
    @apply hover:bg-red-50 dark:hover:bg-red-500 focus:bg-red-100 dark:focus:bg-red-400
    border border-gray-200 dark:border-gray-600 hover:border-red-100 dark:hover:border-red-500 focus:border-red-100 dark:focus:border-red-400 
   hover:text-red-400 dark:hover:text-white focus:text-red-400 duration-200;
  }

  .ic-btn-ghost-primary {
    @apply hover:bg-indigo-50 dark:hover:bg-gray-600 focus:bg-indigo-100 dark:focus:bg-gray-600 hover:text-indigo-400 focus:text-indigo-400 duration-200;
  }

  .ic-btn-ghost-danger {
    @apply hover:bg-red-50 dark:hover:bg-gray-600 focus:bg-red-100 dark:focus:bg-gray-600 hover:text-red-400 focus:text-red-400 duration-200;
  }
  
  .ic-btn-ghost-gray {
    @apply hover:bg-gray-50 dark:hover:bg-gray-600 focus:bg-gray-50 dark:focus:bg-gray-600 duration-200;
  }

  /***  Input  ***/
 .text-input {
  @apply max-w-full w-full h-8 p-4 rounded-sm content-center outline-none
  text-sm text-black dark:text-white text-opacity-70 placeholder:text-black dark:placeholder:text-white placeholder:opacity-50
  focus:outline-none transition duration-200 ease-out;
 }

 .bordered-input {
  @apply border border-gray-200 bg-gray-50 dark:bg-gray-700
   dark:focus:bg-opacity-0 focus:bg-opacity-0 focus:border-indigo-300
  dark:border-gray-600;
 }

 .ringed-input {
  @apply bg-gray-50 border-0 dark:bg-gray-700 focus:ring focus:ring-indigo-100 dark:focus:bg-opacity-0 focus:bg-opacity-0;
 }
  
 /* DropdownLink */
 .dropdown-link {
  @apply w-full px-4 py-3 flex items-center border-b opacity-60 
  outline-none text-sm border-gray-200 dark:border-gray-600 
  transition-all duration-200;
 }

 .dropdown-link-danger {
  @apply text-red-500 dark:hover:text-red-50 hover:bg-red-50 active:bg-red-100 dark:hover:bg-red-900;
 }

 .dropdown-link-primary {
  @apply text-black text-opacity-70 dark:text-white active:bg-gray-100 dark:hover:bg-gray-600 dark:focus:bg-gray-600 hover:bg-gray-50;
 }
}
